<a href="https://colab.research.google.com/github/MichelleRitaM/MichelleRitaM/blob/main/BankTelemarketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv("http://modcom.co.ke/datasets/bank_full.csv")
data.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day+AF8-of+AF8-week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,outcome
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
7,41,blue+AC0-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no

In [ ]:
#ML RULES
#Machine Learning doesnt work with empties- Remove empties/ fill them - imputation
# Machine Learning does not work with texts- Convert texts to digits- Encoding
# Check Empties
data.isnull().sum()

age                    0
job                    5
marital                9
education              0
default                0
housing                0
loan                   4
contact                0
month                  0
day+AF8-of+AF8-week    0
duration               4
campaign               0
pdays                  0
previous               0
poutcome               0
emp.var.rate           0
cons.price.idx         0
cons.conf.idx          0
euribor3m              0
nr.employed            0
outcome                0
dtype: int64

In [ ]:
#Fill Emptoies
data['job'].fillna('unknown', inplace=True)
data['marital'].fillna('unknown', inplace=True)
data['loan'].fillna('unknown', inplace=True)
#for duration its a continous variable  we find the mean
duration_mean = data['duration'].mean()
data['duration'].fillna(duration_mean, inplace=True)

#for dropping records use dropna
data.isnull().sum()

age                    0
job                    0
marital                0
education              0
default                0
housing                0
loan                   0
contact                0
month                  0
day+AF8-of+AF8-week    0
duration               0
campaign               0
pdays                  0
previous               0
poutcome               0
emp.var.rate           0
cons.price.idx         0
cons.conf.idx          0
euribor3m              0
nr.employed            0
outcome                0
dtype: int64

In [ ]:
#loan to Digits
data['loan'].replace({'no':0, 'yes':1, 'unknown':2}, inplace=True)
data['housing'].replace({'no':0, 'yes':1, 'unknown':2}, inplace=True)
data['default'].replace({'no':0, 'yes':1, 'unknown':2}, inplace=True)
data['contact'].replace({'cellular':0, 'telephone':1,}, inplace=True)
#divorced,married,single,unknown
data['marital'].replace({'divorced':0, 'married':1, 'single':2, 'unknown':3}, inplace=True)
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day+AF8-of+AF8-week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,outcome
0,56,housemaid,1,basic.4y,0,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
1,57,services,1,high.school,2,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
2,37,services,1,high.school,0,1,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
3,40,admin.,1,basic.6y,0,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
4,56,services,1,high.school,0,0,1,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['job']= encoder.fit_transform(data['job'])
data['education']= encoder.fit_transform(data['education'])
data['month']= encoder.fit_transform(data['month'])
data['day+AF8-of+AF8-week']= encoder.fit_transform(data['day+AF8-of+AF8-week'])
data['poutcome'].replace({'failure':0,'nonexistent':1, 'success':2}, inplace=True)
data.head(50)

,age,job,marital,education,default,housing,loan,contact,month,day+AF8-of+AF8-week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,outcome
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
1,57,7,1,3,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
2,37,7,1,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
4,56,7,1,3,0,0,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
5,45,7,1,2,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
6,59,0,1,5,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
7,41,1,1,7,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
8,24,9,2,5,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
9,25,7,2,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
10,41,1,1,7,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
11,25,7,2,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
12,29,1,2,3,0,0,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
13,57,3,0,0,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
14,35,1,1,1,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
15,54,5,1,2,2,1,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
16,35,1,1,1,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
17,46,1,1,1,2,1,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
18,50,1,1,2,0,1,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
19,39,4,2,2,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
20,30,10,1,3,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
21,55,1,1,0,2,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
22,55,5,2,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
23,41,9,2,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
24,37,0,1,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
25,35,9,1,6,0,0,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
26,59,9,1,7,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
27,39,6,1,2,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
28,54,9,2,6,2,0,0,1,6,1,...,2,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
29,55,11,1,6,2,2,2,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
30,46,0,1,7,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
31,59,9,1,7,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
32,49,1,1,7,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
33,54,4,1,0,2,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
34,54,1,0,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
35,55,11,1,0,2,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
36,34,7,1,3,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
37,52,9,1,2,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
38,41,0,1,6,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
39,56,9,1,0,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
40,58,4,3,6,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
41,32,2,1,3,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
42,38,0,2,5,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
43,57,0,1,6,0,0,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
44,44,0,1,6,2,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
45,42,9,2,5,2,0,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
46,57,0,1,6,0,1,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
47,40,1,1,2,0,0,1,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
48,35,0,1,6,0,1,0,1,6,1,...,1,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no
49,45,1,1,2,0,1,0,1,6,1,...,2,999,0,1,1.1,93.994,+AC0-36.4,4.857,5191.0,no

In [ ]:
#lambda function
def slice(param):
  if '-' in param:
   answer = param.split("-")
   return answer[1]
  else:
    return param

data['cons.conf.idx'] = data["cons.conf.idx"].apply(slice)
data['emp.var.rate'] = data["emp.var.rate"].apply(slice)
data.groupby("cons.conf.idx").size()

cons.conf.idx
26.9     447
29.8     267
30.1     357
31.4     770
33       172
33.6     178
34.6     174
34.8     264
36.1    5175
36.4    7763
37.5     303
38.3     233
39.8     229
40       212
40.3     311
40.4      67
40.8     715
41.8    4374
42      3616
42.7    6685
45.9      10
46.2    5794
47.1    2458
49.5     204
50       282
50.8     128
dtype: int64

In [ ]:
array = data.values
X = array[:,0:20]#other features
Y = array[:,20 ] #

In [ ]:
from sklearn import model_selection
X_train, X_test, Y_train,Y_test = model_selection.train_test_split(X,Y, test_size = 0.3,
                                                                   random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC

#Cross Validation
# It is a resampling technique that uses different portions of your data to test and train a model using different iterations
#Iteration
#Type1: KFOLD - Used to estimate the skills of the model with the current data we have.

models = []
models.append(("DT", DecisionTreeClassifier()))
models.append(("LR", LogisticRegression(solver = "liblinear")))
models.append(("RF", RandomForestClassifier ()))
models.append(("GB", GradientBoostingClassifier()))
models.append(("KNN", KNeighborsClassifier()))
models.append(("Gaussian", GaussianNB()))
models.append(("DT", DecisionTreeClassifier()))
 
for name, model in models:
   kfold = model_selection.KFold(n_splits=10, random_state=42, shuffle=True)
   cv_results = model_selection.cross_val_score(model,X_train,Y_train, cv =kfold, scoring='accuracy')
   print(name, cv_results.mean())

DT 0.8897714638829275
LR 0.9089524632175896
RF 0.9139817419345218
GB 0.9156466021341808
KNN 0.9041311206397635
Gaussian 0.8476987871414188
DT 0.8902224191455677

In [ ]:
model = GradientBoostingClassifier()
model.fit(X_train, Y_train)

GradientBoostingClassifier()

GradientBoostingClassifier()

In [ ]:
#predict xtest
predictions = model.predict(X_test)
print("Predicted", predictions)
print("Expected", Y_test)

Predicted ['no' 'no' 'no' ... 'no' 'no' 'no']
Expected ['no' 'no' 'no' ... 'no' 'no' 'no']

In [ ]:
#metrics
from sklearn.metrics import accuracy_score
print("Accuracy score", accuracy_score(predictions, Y_test))

Accuracy score 0.9184268026219956

In [ ]:
#test
from sklearn.metrics import classification_report
print(classification_report(predictions,Y_test))

              precision    recall  f1-score   support

          no       0.97      0.94      0.95     11310
         yes       0.51      0.68      0.59      1047

    accuracy                           0.92     12357
   macro avg       0.74      0.81      0.77     12357
weighted avg       0.93      0.92      0.92     12357

In [ ]:
#The model's total test data was 12357, the nos were 1130, the yes' were 1047
#From the matrix, the model got 10,635 for nos and 755 wrong (N0's)-90%
#From the matrix the model got 714 right for Yess and 33 wrong -70%
#The model did not perform wwell in Yes' due to data Imbalance
#Another reason: Some columns many not be necessary in this data
from sklearn.metrics import confusion_matrix
print(confusion_matrix(predictions,Y_test))

[[10635   675]
 [  333   714]]

In [ ]:
#Do predictions
customer =[[45,7,1,3,0,1,1,0,6,0,200,3,999,5,2,1.1,93.994,36.4,4.857,5191.4]]
outcome = model.predict(customer)
print("Is the customer likely to subscribe for the Term Deposit?", outcome)

#Improving performance
#How to load a full CSV

Is the customer likely to subscribe for the Term Deposit? ['no']
Is the customer likely to subscribe for the Term Deposit? ['no']